<launch>

  <param name="/robot_description" textfile="$(find simple_humanoid_description)/urdf/simple_humanoid.urdf" />

  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_st_pub">
    <param name="use_gui" value="true"/>
  </node>

   <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" />
</launch>
